SECRET_KEY=your_secret_key
DEBUG=True_or_False

NAME=name_of_db
USER=user_of_db
PASSWORD=db_password
HOST=host
PORT=your_port

API_PUBLISHED_KEY=your_key_api
API_SECRET_KEY=api_secret_key

BROKER_URL=url_of_broker
RESULT_BACKEND=url_result_backend
TIMEZONE=your_timezonde
TASK_TRACK_STARTED=True_or_False




